/* shared style */
.nav_home{
    color: #252432;
}
.nav_shop_about{
    color: #8987A1;
}
.p_text{
    font-size: 22px;
    color: #00000080;
}
.shared_heading_card_color{
    color: #E95A08;
}
.p_text_s{
    font-size: 14px;
    color: #00000080;
}